@font-face {
    font-family: Mental;
    src: url('../assets/font/mental_black-webfont.woff2');
    font-weight: normal;
}
@font-face {
    font-family: Mental;
    src: url('../assets/font/mental_bold-webfont.woff2');
    font-weight: bold;
}
@font-face {
    font-family: Trump;
    src: url('../assets/font/TrumpGothicPro-Regular-webfont.woff2');
    font-weight: normal;
}
@font-face {
    font-family: Trump;
    src: url('../assets/font/TrumpGothicPro-BoldItalic-webfont.woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Trump;
    src: url('../assets/font/TrumpGothicPro-Bold-webfont.woff2');
    font-weight: bold;
    font-style: normal;
}


// COLOR VARIABLES
$color-primary: #d0011b;
$color-secondary: #3F4E4F;
$color-secondary-light: #5E7173;
$color-red: #F6403F;
$color-blue: #9D96C5;
$color-gold: #F6A623;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #FFFFFFA3;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #3F4E4F;
$color-grey-dark-2: #2C3639;
$color-grey-dark-3: #1F2227;
$color-grey-dark-4: #323032;

// FONT VARIABLES
$font-primary: Trump, sans-serif;
$font-secondary: Mental, sans-serif;

// BREAKPOINTS

$bp-largest  : 75em;    // 1200px / 16px = 75em
$bp-large    : 62.5em;  // 1000px / 16px = 62.5em
$bp-medium   : 50em;    // 800px / 16px = 50em
$bp-small    : 43.75em;  // 700px / 16px = 43.75em
$bp-smallest : 31.25em;  // 500px / 16px = 31.25em

// SHAOES
$shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
$shadow-light: 2px 2px 5px 2px rgba(0, 0, 0, .1);
$shadow-dark: 2px 2px 5px 2px rgba(0, 0, 0, .5);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img, a, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-blue;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-grey-light-1;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right, rgba(5, 5, 5, 1), rgba(0, 0, 0, 1));
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
    // @media only screen and (max-width: $bp-small) {
    //     padding: 0 2rem;
    // }
    // @media only screen and (max-width: $bp-smallest) {
    //     padding: 0;
    // }
    // z-index: 200;
    
}